@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: rgb(18, 18, 18);
  --navbar-main-bg-color: rgba(18, 18, 18, 0.993);
}
html,
body {
  padding: 0;
  margin: 0;
  transition: 1s;
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

ul li {
  margin: 0px 5px;
  font-size: 13px;
}

.navbar ul li:hover {
  cursor: pointer;
}

ul li a {
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.25s;
}

a:hover,
a:focus {
  color: rgb(52, 211, 153);
}

* {
  box-sizing: border-box;
}

.resume-button {
  color: rgb(52, 211, 153);
  background-color: transparent;
  border: 1px solid rgb(52, 211, 153);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}

.resume-button:hover,
.resume-button:focus,
.resume-button.active {
  outline: none;
  background-color: rgba(100, 255, 218, 0.1);
}

.experience-button {
  color: rgb(156, 163, 175);
  background-color: transparent;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.active-button {
  outline: none;
  /* background-color: rgba(36,36,36); */
  color: rgb(52, 211, 153);
}

.experience-button:hover,
.experience-button:focus,
.experience-button.active {
  outline: none;
  background-color: rgba(36, 36, 36);
  color: rgb(52, 211, 153);
}

.job-description li {
  font-size: 14px;
  margin-bottom: 4px;
}

.job-description li::before {
  content: '\2022';
  color: rgb(52, 211, 153);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bg-another-one {
  background-color: var(--navbar-main-bg-color);
}

@media (min-width: 768px) {
  .resume-button {
    margin-left: 15px;
  }
}

.hide {
  opacity: 0;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.project:hover + .hide {
  opacity: 100;
}

.hide:hover {
  opacity: 100;
}

.logo {
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}
